.header,
.navy{
  display:flex;

}

.header .button,
.navy li{
  align-items:center;
  justify-content: center;
  margin:5px;
  border:2px solid;
  padding:5px;
}

ul,
li{
  list-style:none;
}

.datawrap{
  display: flex;
}

.datawrap>div{
  align-items: center;
  justify-self: center;
}

nav ul{
  display: flex;
}

nav ul li{
  padding: 10px;
  
}


th{
  background: gray;
  font-size: 20px;
}

th, tr{
  padding:5px;
}

.show{
  display:block;
}
.hide{
  display:none;
}